/* mozilla.org Base Styles
 * maintained by fantasai
 * (classes defined in the Markup Guide - http://mozilla.org/contribute/writing/markup )
 */
/* Suggested order:
 * display
 * list-style
 * position
 * float
 * clear
 * width
 * height
 * margin
 * padding
 * border
 * background
 * color
 * font
 * text-decoration
 * text-align
 * vertical-align
 * white-space
 * other text
 * content
 *
 */

/* TOC:
   Random HTML Styles
     Forms
   General Structure
   Navigation
   Quotations
   Comments and Other Asides
   Emphasis
   Computers - General
   Code
   Examples and Figures
   Q and A (FAQ)
   Tables
   Meta
*/
/* Random HTML Styles */
body {
              padding : 2em;
              margin : -2em;
	      background-repeat: no-repeat;
	      -webkit-background-size: cover cover;
	      -moz-background-size: cover cover;
	      -o-background-size: cover cover;
	      background-size: cover;
  }
    dt {
		font-weight: bold;
	}

	sup {
		font-size: 70%;
	}

	form {
                margin-top: 10%;
		display: inline-block;
                font-weight: bold;
                font-size: 130%;
                margin-left: 20%
	}

        form.mod {
               margin-top: 1%;
               margin-right: 20%;
	       float: right;		            
        }


    input { 
        margin-top: 2%;
        width: 18%;
	height : 44px;
	background-color: rgba(210,210,110,0.5);
        font-size: 130%;
        text-align: center;
        border: 8px solid rgba(110,90,65,0.5);
        border-style: inset;
        border-radius: 1em ;
        outline-style: none;
    }

.mod input {
        clear: both;
        margin-left: 29%;
        width: 100%;
	height : 60px;
	color: rgba(250,80,80,0.8);
	background-color: rgba(40,40,40,0.8);
        font-size: 100%;
        text-align: center;
        border: 8px solid rgba(110,90,65,0.5);
        border-style: inset;
        border-radius: 1em ;
   }

    label {
    font-weight: bold;
    font-size: 130%;
    text-align: center;
    border: 8px solid rgba(110,90,65,0.5);
    border-style: inset;
    border-radius: 1em ;
    }

    img.plate {
	position: absolute;
	top: 0;
	left: 200px;
    }

    .phagestat img {
	position: absolute;
	top: 180px;
	left: 140px;
	opacity: 0.15;
	filter: alpha(opacity=15); /* For IE8 and earlier */
    }

    .phagestat img:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
    }

    div    {
	margin-top: 1%;
        clear: both;
        margin-left: auto;
        margin-right: auto;
        display: block;
	margin-bottom: 1%;
    }

    div.supply    {
	position: absolute;
        width : 100%;
	z-index: -1;
	top: 20px;
    }

    div.lagoon    {
	display: flex;
        justify-content: center;
        align-items: center;
    }

    .supply label {
	color: #553344;
	position: relative;
	background-color: rgba(210,210,110,0.5);
	display: block;
	width: 10%;
	height : 90px;
	font-size: 120%;
	margin-left: 1%;
	margin-right: 2%;
	margin-bottom: 1%;
    }

    div.change    {
    margin-top: 20%;
    margin-left: 20%;
    outline-style: none;
    }


.cellstat label {
    color: #442233;
    clear: both;
    background-color: rgba(190,190,170,0.5);
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

.lagoon label {
    color: #335544;
    clear: both;
    float: left;
    background-color: rgba(120,210,180,0.5);
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 2%;
}


.snapshot label {
    height : 50%;
    width : 40%;
   }

.autosampler label {
    color: #445566;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(200,170,120,0.5);
    display: block;
    height: 90px;
    width: 40%;
    font-size: 160%;
    }

.drainage label {
    color: #553344;
    background-color: rgba(110,110,90,0.5);
    clear: both;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    height : 30px;
    font-size: 140%;
}

#nutrient  { float : left;
	background-color: rgba(200,200,110,0.5);
	   }
#arabinose { float : left; 
	background-color: rgba(215,215,110,0.5);
	   }
#inducer2  { float : right;
	background-color: rgba(230,230,200,0.5);
	   }
#inducer3  { float : right;
	background-color: rgba(245,245,180,0.5);
	   }

/* General Structure */

	.subtitle {
		font-style: italic;
	}

	p {
		text-indent: 0;
	}
	div.para {
		margin: 1em 0;
	}
	div.para > * {
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	div.section {
		display: block;
		padding-left: 3%;
	}

	div.section > h2,
	div.section > h3,
	div.section > h4,
	div.section > h5,
	div.section > h6 {
		margin-left: -1.3%;
	}

/* Navigation */

	:link img,
	:visited img {
		border: 0;
	}
	.deepLevel #mainContent :link img,
	.deepLevel #mainContent :visited img {
	    border: medium solid;
	}

	.ex-ref {
		font-style: italic;
	}

	dl.toc dt {
		margin-top: 1em;
		font-size: 110%;
	}
	dl.toc p {
		margin: 0;
		text-indent: 1em;
	}
	dl.toc p:first-child {
		text-indent: 0;
	}
	dl.toc > dd {
		margin-left: 1em;
	}

	ol.toc ol {
		list-style-type: circle;
	}
	ol.toc > li > ol {
		font-size: 90%;
	}

	ul.snav {/* section navigation or short navigation, whichever you prefer */
		margin: 0.7em 10%;
		padding: .2em;
		text-align: center;
	}
	ul.snav li {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul.snav > li {
		display: inline;
	}
	ul.snav > li:before {
		content: " | ";
	}
	ul.snav > li:first-child:before {
		content: "";
	}

	a.cont {
		display: block;
		margin-right: 0;
		text-align: right;
	}

/* Computers - General */

	pre.screen {
		overflow: auto;
		margin: 1em 0.5em;
		padding: 0.2em;
		border: solid 1px;
		font-family: monospace;
		white-space: pre;
	}

	div.screen {
		margin: 1em .5em;
		padding: 0.2em;
		border: solid 1px;
	}

	span.application {
		font-style: italic;
	}

	kbd.command,
	code.command {
		white-space: pre;
	}

	code.filename {
		font-style: italic;
		white-space: nowrap;
	}

/* Code */

	code {
		white-space: pre;
	}

	pre.code {
		overflow: auto;
		margin: 20em 10em;
		padding: .2em;
		border: solid 1px;
	}

	pre.code .remark {
		font-size: 1em;
		font-style: italic;
	}

	/* turn off content generation */
	pre.code .remark:before,
	pre.code .remark:after,
	pre.code .note:before {
		content: "";
	}


/* Examples and Figures */

	.example {
		margin: 1em 3%;
		padding: .25em;
		border: solid;
	}
	.example:before {
		display: block;
		font-weight: bold;
		content: "Example";
	}
	.example[title]:before {
		content: "Example: " attr(title);
	}

	pre.bad,
	div.bad {
		border: dashed red 3px;
	}
	.bad.example:before {
		content: "Incorrect Example";
	}
	.bad.example[title]:before {
		content: "Incorrect Example: " attr(title);
	}

	pre.good,
	div.good {
		border: double lime 3px;
	}
	.good.example:before {
		content: "Correct Example";
	}
	.good.example[title]:before {
		content: "Correct Example: " attr(title);
	}

	.figure,
	.screenshot {
		display: block;
		margin: .75em auto;
	}
	.screenshot[title]:after,
	.figure[title]:after {
		display: block;
		margin: 0 8% .05em;
		font-style: italic;
		font-size: small;
		text-align: right;
		content: attr(title);
	}

	.co,
	.callout {
		text-decoration: underline;
	}

/* Q and A (FAQ) */

	.qandaset .question {
		font-size: large;
		font-weight: bold;
	}

	.qandaset .answer {
		margin-top: 1em;
	}

/* Tables */

	table.data {
		border-collapse: collapse;
		margin: 0.5em auto;
		border: 1px solid;
	}

	table.data caption {
		margin: 1em auto 0.2em;
		font-size: small;
		font-style: italic;
		text-align: center;
	}

	table.data th,
	table.data td {
		padding: 0.2em;
		border: 1px solid;
	}

/* Meta */

	address {
		text-align: right;
	}
	.author {
		margin-bottom: 1em;
		text-align: left;
	}


/* Random Stuff That Needs To Be Cleaned Up / Deprecated */

.flLeft {
	float: left;
	margin: 5px 10px 5px 0;
}
.flRight {
	float: right;
	margin: 5px 0 5px 10px;
}

/* This is the logo clickable area */

#logozone {
    display: block;
    z-index: 2;
    left: 20px;
    top: 20px;
    width: 400px;
    height: 140px;
    background-color: transparent;
}

#logozone a i { visibility: hidden; }
